provider_installation {
  dev_overrides {
    "registry.terraform.io/vegassor/clickhouse" = "${PROVIDER_DIR}/local/bin"
  }

  filesystem_mirror {
    include = ["registry.terraform.io/vegassor/*"]
    path = "${PROVIDER_DIR}/local"
  }

  direct {
    exclude = ["registry.terraform.io/vegassor/*"]
  }
}
